<ion-view view-title="New Note">
  <ion-content>
    <div class="list">
      <div class="item">
      <form action="" method="post" id="new-note-form">
        <label>
          Note Title *
          <input type="text" name="note-title" id="note-title" class="form-control" placeholder="Insert Title Here" />
        </label>
        <label>
          Note Content *
          <textarea name="note-content" id="note-content" class="form-control" placeholder="Insert Content Here"></textarea>
        </label>
        <hr />
        <input type="submit" id="submit" name="submit" value="Create Note" />
      </form>
    </div>
    </div>
  </ion-content>
</ion-view>
