<ion-view view-title="New Note">
  <ion-content class="padding">
    <h2 class="section-title">Create Your Note</h2>
    <div class="card">
    <form action="" method="post" id="new-note-form">
      <label>
        Note Title *
        <input type="text" name="note-title" id="note-title" class="form-control" placeholder="Insert Title Here" />
      </label>
      <label>
        Note Content *
        <textarea name="note-content" id="note-content" class="form-control" placeholder="Insert Content Here"></textarea>
      </label>
      <hr />
      <input type="submit" id="submit" name="submit" value="Create Note" />
    </form>
    </div>
  </ion-content>
</ion-view>
